:root {
  --background-color: #e5e5e5;
  --blue-color: #2196f3;
  --black-color: #000000;
  --light-gray-color: #757575;
  --dark-gray-color: #212121;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
  --section-background2: #2f303a;
  --colorBackgroundImage: #2f303a66;
  --icon-color: #afb1b8;
  --icon-footer-bg: #ffffff1a;
  --figcaption-background: #2f303acc;
  --color-transparent: hsla(0, 0%, 0%, 0.2);
  --blue-color-overlay: #2196f3e6;
}

body {
  background-color: var(--white-color);
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--dark-gray-color);
  font-size: 14px;
}

.logo {
  font-family: "Raleway";
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin: 0;
}
.logo-top {
  padding: 24px 0;
}

.logo:hover {
  color: var(--blue-color);
}

.logo-black {
  color: var(--black-color);
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--dark-gray-color);
  letter-spacing: 0.02em;
  display: flex;
  gap: 46px;
}

.nav-list:hover,
.nav-list:focus {
  color: var(--blue-color);
}

.nav-list-light {
  color: var(--light-gray-color);
}

.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 0 40px;
}

.main-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  padding: 10px 0;
}

.main-button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}

.main-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--dark-gray-color);
}

.main-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-gray-color);
}

.list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-gray-color);
}

.caption-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--dark-gray-color);
}

.caption-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--light-gray-color);
}

.address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contakt-link:hover,
.footer-contakt-link:focus {
  color: var(--blue-color);
}

.button {
  background: var(--button-color);
  color: var(--dark-gray-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: 0.25s;
}
.button:hover,
.button:focus {
  background: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 0.25s;
}
.button:focus {
  background: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
}

.caption-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-gray-color);
}

.caption-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;
  color: var(--light-gray-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contakt-link:hover,
.footer-contakt-link:focus {
  color: var(--blue-color);
}

.bottom-background {
  background: var(--dark-gray-color);
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 55.5px 0;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section-top {
  background-color: var(--section-background2);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 24px 0 25px;
  gap: 93px;
}

.box-gallery {
  background-color: var(--white-color);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.border-header {
  border-bottom: 1px solid var(--white-color);
}
.background-color-white {
  background: var(--white-color);
}
.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-slider {
  background: var(---section-background2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: var(----section-background2);
  padding: 200px 0;
}

.box-our-speciality {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding-bottom: 94px;
  border-radius: 4px;
}
.box-what-we-do {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}
.box-what-we-do > li > img {
  display: block;
}
.box-our-team {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  padding: 0;
}

.box-our-team li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.box-footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 55.5px;
}

.background-color-white {
  background: var(--white-color);
}
.card-product {
  padding: 5px;
  flex-basis: 370px;
  flex-direction: column;
}
.card-product > img {
  display: block;
}
.card-product:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 0.35s;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.ul-display {
  display: flex;
  gap: 40px;
}

.background-slider {
  background-image: linear-gradient(
      var(--colorBackgroundImage),
      var(--colorBackgroundImage)
    ),
    url("../images/sliderbg.jpeg");
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.envelope-icon,
.phone-icon {
  fill: var(--light-gray-color);
  transition: 0.2s;
}

.envelope-icon:hover,
.envelope-icon:focus,
.phone-icon:hover,
.phone-icon:focus {
  fill: var(--blue-color);
  transition: 0.2s;
}

.icon-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-our-speciality {
  margin: 25px 100px;
}
.background-our-team {
  background: var(--button-color);
}

.box-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.icon-social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  fill: var(--icon-color);
}

.icon-social:hover svg,
.icon-social:focus svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--blue-color);
  fill: var(--white-color);
}

.box-our-clients {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
}
.box-icons-our-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--white-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: 0.4s;
}
.icon-our-clients {
  fill: var(--icon-color);
  transition: 0.4s;
}
.box-icons-our-clients:hover svg,
.box-icons-our-clients:focus svg,
.box-icons-our-clients:hover,
.box-icons-our-clients:focus {
  fill: var(--blue-color);
  border-color: var(--blue-color);
  transition: 0.4s;
}

.box-footer-icons {
  display: flex;
  margin-top: 12px;
}

.socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon-social-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--icon-footer-bg);
  fill: var(--white-color);
  transition: 0.2s;
}
.icon-social-footer:hover svg,
.icon-social-footer:focus svg {
  transition: 0.2s;
  background-color: var(--blue-color);
}
.footer-join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
  color: var(--button-color);
  margin-bottom: 20px;
}
.what-we-do-anchor {
  position: relative;
}

.what-we-do-caption {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142857143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0px;
  background: var(--figcaption-background);
  color: var(--white-color);
  bottom: 0px;
  width: 100%;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}

.backdrop {
  content: "";
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  display: flex;
  justify-content: flex-end;
  width: 528px;
  height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px;
}
.modal-window-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  border: 1px solid var(--color-transparent);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  cursor: pointer;
}

.you-here-link {
  position: relative;
  color: var(--blue-color);
}
.you-here-link::after {
  position: absolute;
  display: block;
  content: "";
  top: 40px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
  cursor: unset;
  pointer-events: none;
}
.card-overlay-anchor {
  position: relative;
  overflow: hidden;
}
.card-product-overlay {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.555555556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background: var(--blue-color-overlay);
  padding: 49px 45px 49px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-product:hover .card-product-overlay {
  transform: translateY(0%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
