:root {
  --background-color: #e5e5e5;
  --blue-color: #2196f3;
  --black-color: #000000;
  --light-gray-color: #757575;
  --dark-gray-color: #212121;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
  --section-background2: #2f303a;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--dark-gray-color);
  font-size: 14px;
}

.logo {
  font-family: "Raleway";
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin: 0;
}
.logo-top {
  padding: 24px 0;
}

.logo:hover {
  color: var(--blue-color);
}

.logo-black {
  color: var(--black-color);
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--dark-gray-color);
  letter-spacing: 0.02em;
  display: flex;
  gap: 46px;
  padding-left: 93px;
}

.nav-list:hover,
.nav-list:focus {
  color: var(--blue-color);
}

.nav-list-blue {
  color: var(--blue-color);
}

.nav-list-light {
  color: var(--light-gray-color);
}

.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 0 40px;
}

.main-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  padding: 10px 0;
}

.main-button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}

.main-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--dark-gray-color);
}

.main-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-gray-color);
}

.list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-gray-color);
}

.caption-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--dark-gray-color);
}

.caption-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--light-gray-color);
}

.address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contakt-link:hover,
.footer-contakt-link:focus {
  color: var(--blue-color);
}

.button {
  width: 121px;
  height: 38px;
  background: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
}

.caption-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-gray-color);
}

.caption-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;
  color: var(--light-gray-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contakt-link:hover,
.footer-contakt-link:focus {
  color: var(--blue-color);
}

.bottom-background {
  background: var(--dark-gray-color);
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section-top {
  background-color: var(--section-background2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 210px;
  width: 100%;
}

.header > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 24px 0 25px;
  gap: 93px;
}

.box-gallery {
  background-color: var(--white-color);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.border-header {
  border-bottom: 1px solid var(--white-color);
}
.background-color-white {
  background: var(--white-color);
}
.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-slider {
  background: var(---section-background2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: var(----section-background2);
  padding: 200px 0;
}

.box-our-speciality {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding-bottom: 94px;
}
.box-what-we-do {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}
.box-what-we-do > li > img {
  display: block;
}
.box-our-team {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  padding: 0;
}
.box-footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 55.5px 0;
}

.background-color-white {
  background: var(--white-color);
}
.card-product {
  padding: 5px;
  flex-basis: 370px;
  flex-direction: column;
}
.card-product > img {
  display: block;
}
.section {
  padding: 94px 0;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.ul-display {
  display: flex;
}
