.navigation__logo {
  font-family: "Raleway";
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 24px 0;
}

.navigation__logo:hover {
  color: var(--blue-color);
}

.navigation__logo--black {
  color: var(--black-color);
}

.navigation__menu {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--dark-gray-color);
  letter-spacing: 0.02em;
  display: flex;
  gap: 16px;
}

.navigation__menu:hover,
.navigation__menu:focus {
  color: var(--blue-color);
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__menu--icon {
  fill: var(--light-gray-color);
  transition: 0.2s;
}

.navigation__menu--icon:hover,
.navigation__menu--icon:focus {
  fill: var(--blue-color);
  transition: 0.2s;
}
.navigation__menu--here {
  position: relative;
  color: var(--blue-color);
}
.navigation__menu--here::after {
  position: absolute;
  display: block;
  content: "";
  top: 40px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
  cursor: unset;
  pointer-events: none;
}
