:root {
  $colorBackground: #e5e5e5;
  $colorBlue: #2196f3;
  $colorBlack: #000000;
  $colorLightGray: #757575;
  $colorLightGrayTransp: #75757580;
  $colorDarkGray: #212121;
  $colorWhite: #ffffff;
  $colorButton: #f5f4fa;
  $colorSectionBackground2: #2f303a;
  $colorImageBackground: #2f303a66;
  $colorIcon: #afb1b8;
  $colorIconFooter: #ffffff1a;
  $colorFigcaptionBackground: #2f303acc;
  $colorTransparent: hsla(0, 0%, 0%, 0.2);
  $colorBlueOverlay: #2196f3e6;
}
